/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body 
{
  padding-top: 3rem;
  padding-bottom: 3rem;
  
  color: red;
}

/* CUSTOMIZE THE NAVBAR LOGO
--------------------------------------------------   color: #5a5a5a;   */





/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  top:50px;

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/*#first-slide
  {
  background: url('../pic/1_992.jpg') top center no-repeat;
  top: 0px;
  }

#second-slide
  {
  background: url('../pic/2_992.jpg') top center no-repeat;
  top: 0px;
  }

#third-slide
  {
  background: url('../pic/3_992.jpg') top center no-repeat;
  top: 0px;
  }*/



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the     carousel */
.marketing .col-lg-4 
{
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 
{
  font-weight: 400;
}
.marketing .col-lg-4 p 
{
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider 
{
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading 
{
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 300px) and (max-width: 375px) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
  #first-slide
  {
  background: url('../pic/1_375.jpg') top center no-repeat;
  top: 0px;
  }

  #second-slide
  {
  background: url('../pic/2_375.jpg') top center no-repeat;
  top: 0px;
  }

  #third-slide
  {
  background: url('../pic/3_375.jpg') top center no-repeat;
  top: 0px;
  }
}
@media (min-width: 376px) and (max-width: 480px) {
  
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

  #first-slide
  {
  background: url('../pic/1_480.jpg') top center no-repeat;
  top: 0px;
  }

  #second-slide
  {
  background: url('../pic/2_480.jpg') top center no-repeat;
  top: 0px;
  }

  #third-slide
  {
  background: url('../pic/3_480.jpg') top center no-repeat;
  top: 0px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {

  .featurette-heading {
    margin-top: 7rem;
  }
  #first-slide
  {
  background: url('../pic/1_768.jpg') top center no-repeat;
  top: 0px;
  }

  #second-slide
  {
  background: url('../pic/2_768.jpg') top center no-repeat;
  top: 0px;
  }

  #third-slide
  {
  background: url('../pic/3_768.jpg') top center no-repeat;
  top: 0px;
  }
}
@media (min-width: 769px) and (max-width: 812px) {
  .featurette-heading {
    margin-top: 7rem;
  }
  #first-slide
  {
  background: url('../pic/1_812.jpg') top center no-repeat;
  top: 0px;
  }

  #second-slide
  {
  background: url('../pic/2_812.jpg') top center no-repeat;
  top: 0px;
  }

  #third-slide
  {
  background: url('../pic/3_812.jpg') top center no-repeat;
  top: 0px;
  }
}
@media (min-width: 813px) and (max-width: 992px) {
  .featurette-heading {
    margin-top: 7rem;
  }
  #first-slide
  {
  background: url('../pic/1_992.jpg') top center no-repeat;
  top: 0px;
  }

  #second-slide
  {
  background: url('../pic/2_992.jpg') top center no-repeat;
  top: 0px;
  }

  #third-slide
  {
  background: url('../pic/3_992.jpg') top center no-repeat;
  top: 0px;
  }
}
@media (min-width: 993px) and (max-width: 1024px) {
  .featurette-heading {
    margin-top: 7rem;
  }
  #first-slide
  {
  background: url('../pic/1_1024.jpg') top center no-repeat;
  top: 0px;
  }

  #second-slide
  {
  background: url('../pic/2_1024.jpg') top center no-repeat;
  top: 0px;
  }

  #third-slide
  {
  background: url('../pic/3_1024.jpg') top center no-repeat;
  top: 0px;
  }
}
@media (min-width: 1025px) and (max-width: 1366px) {
  .featurette-heading {
    margin-top: 7rem;
  }
  #first-slide
  {
  background: url('../pic/1_1366.jpg') top center no-repeat;
  top: 0px;
  }

  #second-slide
  {
  background: url('../pic/2_1366.jpg') top center no-repeat;
  top: 0px;
  }

  #third-slide
  {
  background: url('../pic/3_1366.jpg') top center no-repeat;
  top: 0px;
  }
}
@media (min-width: 1367px) and (max-width: 1920px) {
  .featurette-heading {
    margin-top: 7rem;
  }
  #first-slide
  {
  background: url('../pic/1_1920.jpg') top center no-repeat;
  top: 0px;
  }

  #second-slide
  {
  background: url('../pic/2_1920.jpg') top center no-repeat;
  top: 0px;
  }

  #third-slide
  {
  background: url('../pic/3_1920.jpg') top center no-repeat;
  top: 0px;
  }
}
@media (min-width: 1921px) and (max-width: 2048px) {
  .featurette-heading {
    margin-top: 7rem;
  }
  #first-slide
  {
  background: url('../pic/1_2048.jpg') top center no-repeat;
  top: 0px;
  }

  #second-slide
  {
  background: url('../pic/2_2048.jpg') top center no-repeat;
  top: 0px;
  }

  #third-slide
  {
  background: url('../pic/3_2048.jpg') top center no-repeat;
  top: 0px;
  }
}

