.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);

 */

.product-device {
  position: absolute;
  right: 0%;
  bottom: -30%;
  
  height: 540px;
  
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }






.product01 {
  position: absolute;
  right: 0%;
  bottom: -30%;
  
  height: 540px;
  
}


.card-product {
  
  width: 70%;
  object-fit: contain;
}
.card-product-50 {
  
  width: 50%;
  object-fit: contain;
}
.card-product-full {
  
  
  object-fit: contain;
}

a.l:hover{
  text-decoration: underline;
}


a.l:link, a.l:visited, a.l:hover, a.l:active{
  color: rgb(0, 112, 201);
  font-size: 17px;
}




@media (min-width: 768px) and (max-width: 1023px) {

  h2.offer{
    font-size: 16px;
  }

  p.offer{
    font-size: 14px;
  }

  a.offer:link, a.offer:visited, a.offer:hover, a.offer:active{
    font-size: 14px;
  }  
}