.logo{
    height:40px;
    line-height: 50px;
    vertical-align: middle;

}
.fixed-top{
    height:100px;

}
.nav > row{
    width: 100%;
    height: 100%;
}
.ramka{
    border-color: red;
    border-style: solid;
}