@import url(https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&subset=latin-ext);


body 
{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #545454;
}

.logo
{
  height: 40px;
}


.ramka{
    border-color: red;
    border-style: solid;
}
.ramkab{
    border-color: blue;
    border-style: solid;
}

.btn-outline-primary {
  color: #FFFFFF;
  background-image: none;
  background-color: transparent;
  border-color: #FFFFFF;
}

.btn-outline-primary:hover {
  color: #DDCEC5;
  background-color: transparent;
  border-color: #DDCEC5;
}

.btn-outline-secondary {
  color: #868e96;
  background-image: none;
  background-color: transparent;
  border-color: #868e96;
}

.btn-outline-secondary:hover {
  color: #5a5a5a;
  background-color: transparent;
  border-color: #5a5a5a;
}

a{
  color: #868e96;
}
a:hover{
  color: #5a5a5a;
  text-decoration: none;
}


/* ========= navbar height begin ==========  */



.navbar {
  min-height: 100px;
}

.navbar-brand {
  padding: 0 15px;
  height: 100px;
  line-height: 100px;
}

.navbar-toggle {
  /* (100px - button height 34px) / 2 = 23px     */
  margin-top: 33px;
  padding: 9px 10px !important;  
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 36.5px;
    padding-bottom: 36.5px;
    line-height: 27px;
  }
}

.logo{
    height:80px;
    
    vertical-align: middle;

}

/* ========= navbar height end ========== #301a09; */


 .img-container
{
  position: relative;
}
.img-bottom
{
  position: absolute;
  bottom: 0;
}

.marketing .col-md-5, .col-md-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.paddTop15{
  height: 30px;
}

.paddTop50{
  height: 50px;
}

.contact{
  line-height: 1;
}
.paddLeft10{
  padding-left: 10px;
}
.widthCIT {
    width: 140px;
}