@import url(https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&subset=latin-ext);


BODY {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #545454;

}


.logo{
    height:80px;
    
    vertical-align: middle;

}

.ramka{
    border-color: red;
    border-style: solid;
}


/* ========= navbar height begin ==========  */
.navbar {
  min-height: 100px;
}

.navbar-brand {
  padding: 0 15px;
  height: 100px;
  line-height: 100px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 33px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 36.5px;
    padding-bottom: 36.5px;
    line-height: 27px;
  }
}

/* ========= navbar height end ========== #301a09; */



.navbar > .container > ul > li > a:hover {
	color:#000;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(44, 12, 0, 0.91);
}
